<div>
  <%= field[:label] %>
  <span class="prefix">
    <%= field[:prefix] %>
    <%= field[:field] %>
    <%= field[:suffix] %>
    <%= field[:description] %>
  </span>
  <%= field[:error_message] %>
</div>
